---
import type { Menu } from "../../types/menu";
import { getMenu } from "../../utils/i18n/i18n";

const { lang } = Astro.params;
const currentLang = lang as "es" | "en";

const menu = await getMenu(currentLang) as Menu;

const rawImages = import.meta.glob("/src/assets/carousel/*.{jpg,jpeg,png,webp}", {
  eager: true,
  as: "url"
});

const images = Object.values(rawImages);

---

<section class="carousel">
  <div class="carousel-track">

    {images.map((img, i) => (
      <div class="carousel-slide">
        <img src={img} alt={`Carousel image ${i + 1}`} />
        <div class="carousel-caption">
          <h3>{menu.logo.title}</h3>
          <p>{menu.logo.description}</p>
        </div>
      </div>
    ))}

  </div>

  <button class="carousel-btn prev">‹</button>
  <button class="carousel-btn next">›</button>
</section>

<script>
    document.addEventListener("DOMContentLoaded", () => {

  const track = document.querySelector(".carousel-track") as HTMLElement | null;
  const slides = document.querySelectorAll<HTMLElement>(".carousel-slide");
  const prevBtn = document.querySelector(".prev") as HTMLButtonElement | null;
  const nextBtn = document.querySelector(".next") as HTMLButtonElement | null;

  if (!track || slides.length === 0) return;

  let index = 0;

  function updateCarousel(): void {
    const slideWidth = slides[0].getBoundingClientRect().width;
    const gap = 32;

    track!.style.transform = `translateX(-${index * (slideWidth + gap)}px)`;

    slides.forEach((slide, i) => {
    slide.classList.toggle("active", i === index);
    });

    if (window.innerWidth <= 768) return;
  }

  function nextSlide() {
    if (index < slides.length - 1) {
        index++;
        updateCarousel();
    }
  }

  function prevSlide(): void {
    index = (index - 1 + slides.length) % slides.length;
    updateCarousel();
  }

  nextBtn?.addEventListener("click", nextSlide);
  prevBtn?.addEventListener("click", prevSlide);

  updateCarousel();

});
</script>