---
import { Image } from "astro:assets";

import type { Menu } from "../types/menu";
import type { Company } from "../types/empresa";

import { getLangData, getMenu, getCompany } from "../utils/i18n";

import tierra from "../assets/tierra.jpg";

const { currentLang } = getLangData(Astro);

const menu = await getMenu(currentLang) as Menu;
const company = await getCompany(currentLang) as Company;

const rawImages = import.meta.glob("/src/assets/carousel/*.{jpg,jpeg,png,webp}", {
  eager: true,
  as: "url"
});

const images = Object.values(rawImages);
---

<section class="history">
  <div class="container">
    <div class="history-content">
      <span class="history-tag">Nuestra trayectoria</span>
      <h2>{company.history.title}</h2>
      <h3>{company.history.subtitle}</h3>

      {company.history.content.map((paragraph) => (
        <p>{paragraph}</p>
      ))}
    </div>
  </div>
</section>