<footer class="site-footer">
  <div class="container footer-bottom-inner">
    <div class="footer-left">
      <p>
        © {new Date().getFullYear()} Fruit Service. 
        Todos los derechos reservados.
      </p>
    </div>

    <div class="footer-right">
      <p class="footer-legal">
        <a href="/es/aviso-legal">Aviso legal</a>
        <span>·</span>
        <a href="/es/politica-privacidad">Privacidad</a>
      </p>

      <p class="footer-credit">
          Site by 
        <a href="mailto:esther.martin.dev@outlook.es">
          Esther Martín
        </a>
      </p>
    </div>
  </div>
</footer>