<header class="site-header">
  <nav class="nav">
    
    <a href="#" class="logo">Fruit Service</a>

    <ul class="menu">
      <li class="dropdown">
        <button class="dropdown-toggle">Productos ▾</button>

        <ul class="dropdown-menu">
          <li><a href="#">Cítricos</a></li>
          <li><a href="#">Fruta de temporada</></li>
          <li><a href="#">Distribución</a></li>
        </ul>
      </li>

      <li><a href="#">Empresa</a></li>
      <li><a href="#">Contacto</a></li>
    </ul>

  </nav>
</header>