---
import "../styles/global.scss";
import Analytics from '@vercel/analytics/astro'
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";

const langParam = Astro.params.lang;

const lang = Astro.params.lang!;

Astro.cookies.set("lang", lang, {
  path: "/",
  maxAge: 60 * 60 * 24 * 365
});

---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
    <Analytics />
  </head>
  <body>
    <div class="page">
      <NavBar />
      <main class="content">
        <slot />
      </main>
      <Footer />
    </div>
    <div id="toast-container"></div>
  </body>
</html>