---

const currentPath = Astro.url.pathname;
const isEnglish = currentPath.startsWith("/en");

const switchLangUrl = isEnglish
  ? currentPath.replace(/^\/en/, "") || "/"   // vuelve a ES
  : `/en${currentPath === "/" ? "" : currentPath}`; // pasa a EN
  
const { title = "Fruit Service" } = Astro.props;
import "../styles/global.css";
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body class="bg-white text-gray-800 antialiased">

    <slot />

  </body>
</html>